*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif
}


body{

}

header{
    text-align: center;
    background-color:#f2f2f2;
    padding: 30px;
}

main{
    text-align: center;
    background-color:#f2f2f2;
}

img{
    z-index: 10;
}

figure{
    background-color: #ffffff;
    margin-bottom:20px;
}

figcaption
{
    margin-top:20px;

}

h1,h2,h3{
    text-align: center;
    margin-bottom: 20px;
}

ul,
blockquote{
    text-align: left;
    margin: 0px 30%;
}

blockquote{
    padding: 30px;
}

ul li{
    line-height: 30px;
}


footer{
    text-align: left;
    background-color:#f2f2f2;
}

