*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Helvetica, sans-serif
}


body{

}

header{
    text-align: center;
    background-color:#f2f2f2;
    padding: 30px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p{
   color: #555555;
   font-size: 16px;
}

main{
    text-align: center;
    background-color:#f2f2f2;
}

img{
    z-index: 10;
}

figure{
    background-color: #ffffff;
    margin-bottom:20px;
}

figcaption {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #555;
}

p
{
    color: #f2f2f2;
}

h1,h2,h3{
    text-align: center;
    margin-bottom: 20px;
}
ul{
    margin-top: 30px;
}

ul,
blockquote{
    text-align: left;
    margin: 0px 30%;
    color: #555;
}

blockquote{
    padding: 30px;
    font-style: italic;
}

ul li{
    line-height: 30px;
    color: #555;
}


footer{
    text-align: left;
    background-color:#f2f2f2;
}

